.formula{
    height: 13rem;
    width: 35rem;
    margin: 0 auto;
    display:block;
    filter: opacity(0.8);
    z-index: 0;
}

body{
    background-color: rgb(172, 183, 142);
}

h1{
    font-family: 'Shrek', arial;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 4s ease infinite;
    animation: rainbow 4s ease infinite;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
}

@-webkit-keyframes rainbow{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}
   
@keyframes rainbow{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

h2{
    color:white;
    font-family: 'Shrek', arial;
    font-size: 2rem;
    text-align: center;
    filter: opacity(0.65);
}

.form-inline{
    width: 23.75rem;
    margin: 2.5rem auto;
    filter: opacity(0.65);
}

#input-password{
    width: 20rem;
    height: 10rem;
    font-size: 2.5rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 1.5rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin: 0 auto;
    display: block;
}

#button-generate{
    border: none;
    color: rgb(31, 91, 64);
    background-color: rgb(172, 183, 142);
    font-family: 'Shrek', arial;
    margin: 20px auto;
    display: block;
    font-size: 2rem;
    filter: opacity(0.65);
}

.for-formula{
    height: 30rem;
    margin-left: 6rem;
    margin-top: -7rem;
}

/* .window{
    margin-top: -22rem;
} */

.for-generate-window{
    margin-top: -17.5rem;
    padding-left: 51rem;
    /*
    position: absolute;
    z-index: 1;*/
}

.form-inline0{
    width: 23.75rem;
    margin: 2.5rem auto;
    filter: opacity(0.65);
}

#input-password-generate{
    width: 38rem;
    height: 10rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 1.5rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin-left: -7rem;
    filter: opacity(0.65);
}

#button-generate0{
    border: none;
    color: rgb(31, 91, 64);
    background-color: rgb(172, 183, 142);
    font-family: 'Shrek', arial;
    margin: 10px auto;
    display: block;
    font-size: 2rem;
    filter: opacity(0.65);
}

/* .window0{
    margin-top: -9rem;
} */

::placeholder{
    font-family: 'Shrek', arial;
}

.window0{
    margin-top: -23rem;
}