body{
    background-color: rgb(172, 183, 142);
}

h1{
    font-family: 'Shrek', arial;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 4s ease infinite;
    animation: rainbow 4s ease infinite;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
}

@-webkit-keyframes rainbow{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}
   
@keyframes rainbow{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

h2{
    color:white;
    font-family: 'Shrek', arial;
    font-size: 2rem;
    text-align: center;
    filter: opacity(0.65);
}

/* рпостое число номер 1 р = 2579
взаимно простое число = 3
    простое число 2 = 3557
 */
  
html {
    box-sizing: border-box;
}

select{
    font-family: 'Shrek', arial;
}

.display-none{
    display:none
}

button{
    font-family: 'Shrek', arial;
    font-size: 3rem;
}

.textforcalc{
    color:#ffffff;
    font-size: 1.9rem;
    font-family: 'Shrek', arial;
}

.error1{
    position:absolute;
    color:rgb(180, 101, 187);
    top: 16rem;
    left: 15rem;
    display: none;
}

.hr-margin{
    color:#ffffff;
    font-size: 2rem;
    text-align: center;
}

/* .hr-margin2{
    position:fixed;
    color:#ffffff;
    font-size: 2rem;
} */

.key1{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style: ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.key2{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style: ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.key3{
    width: 23rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.key1_2{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.key2_2{
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style: ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
    margin-left: 28rem;
}

.key3_2{
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.key4_2{
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.change {
    padding: 5px;
    border: 1px solid #ffffff;
    height: 35px;
    width: 35px;
    left: 11rem;
    top: 13.1rem;
    opacity: 0;
}

.generate{
    border: none;
    color: rgb(31, 91, 64);
    background-color: rgb(172, 183, 142);
    font-family: 'Shrek', arial;
    margin: 10px auto;
    display: block;
    font-size: 2rem;
    filter: opacity(0.65);
    margin-top: -3rem;
}

.generate2{
    border: none;
    color: rgb(31, 91, 64);
    background-color: rgb(172, 183, 142);
    font-family: 'Shrek', arial;
    margin: 10px auto;
    display: block;
    font-size: 2rem;
    filter: opacity(0.65);
    margin-top: -3rem;
}

.input-size{
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border-color: rgb(31, 91, 64);
    border-radius: 2rem;
    border-width: 0.2rem;
    border-style:ridge;
    margin: 0 auto;
    display: block;
    opacity: 70%;
    font-family: 'Shrek', arial;
    margin-top: 1rem;
}

.input-margin{
    color:#0a0909;
    font-size: 2rem;
    font-family: 'Shrek', arial;
    top: 13.5rem;
    left: 33rem;
    margin-top: 1rem;
}

.input-margin2{
    color:#0a0909;
    font-size: 2rem;
    font-family: 'Shrek', arial;
    top: 13.5rem;
    left: 33rem;
    margin-top: 1rem;
}

.div-margin {
    position: fixed;
    top: 11rem;
    left: 14.5rem;
}

.div-margin2 {
    position: fixed;
    top: 29rem;
    left: 14.5rem;
}

.back-margin {
    position: fixed;
    left:30rem;
    top:36rem;
}

.back {
    cursor: pointer;
    border-color: rgb(172, 183, 142);;
    background-color: transparent;
    height: 5px;
    width: 25px;
    color: #ffffff;
    font-size: 1.5rem;
    opacity: 0;
}

.lr {
    cursor: pointer;
    background-color: transparent;
    height: 80px;
    width: 220px;
    color: #ffffff;
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: center;
}

.div{
    display: inline-flex;
}

.semja{
    position: absolute;
    right: -1rem;
    top: 20rem;
    height: 40rem;
}

.olen{
    position: absolute;
    left: -5rem;
    top: 25rem;
}